<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../static/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martian+Mono:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>

		<title>UI Testing</title>
	</head>
	<body>
		<div class="flex items-center justify-center h-screen">
			<div
				class="container mx-auto p-6 rounded shadow-2xl max-w-[40vw]"
				style="
					background: rgba(255, 255, 255, 0.07);
					border: 1px solid #444;
				"
			>
				<h2 class="text-xl font-bold mb-4" style="color: #fff">
					Параметры запроса
				</h2>

				<!-- Поле ввода IP-адреса -->
				<label for="ip-address" class="block mb-2 text-sm font-medium"
					>IP/HOST</label
				>
				<input
					type="text"
					id="ip-address"
					name="ip_address"
					class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Введите IP/HOST"
					required
				/>

				<!-- Количество потоков -->
				<label
					for="thread-count"
					class="block mb-2 mt-5 text-sm font-medium dark:text-gray-300"
					>Количество потоков</label
				>
				<input
					type="number"
					id="thread-count"
					name="thread_count"
					min="1"
					max="5"
					class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Введите количество потоков"
					required
				/>

				<!-- Количество запросов -->
				<label
					for="request-count"
					class="block mb-2 mt-5 text-sm font-medium dark:text-gray-300"
					>Количество запросов:</label
				>
				<input
					type="number"
					id="request-count"
					name="request_count"
					min="1"
					max="5"
					class="text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Введите количество запросов"
					required
				/>

				<!-- Выбор метода (GET, POST, PUT, DELETE) -->
				<div class="flex items-center justify-between">
					<div style="min-width: 30vw">
						<label
							for="method-select"
							class="block mb-2 mt-5 text-sm font-medium dark:text-gray-300"
							>Метод</label
						>
						<select
							id="method-select"
							name="method"
							onchange="toggleFileInput()"
							class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							required
						>
							<option value="" disabled selected>
								Выберите метод...
							</option>
							<option value="GET">GET</option>
							<option value="POST">POST</option>
							<option value="PUT">PUT</option>
							<option value="DELETE">DELETE</option>
						</select>
					</div>
					<div style="min-width: 30vw">
						<label
							for="method-select"
							class="block mb-2 mt-5 text-sm font-medium dark:text-gray-300"
							>Протокол</label
						>
						<select
							id="method-select"
							name="method"
							onchange="toggleFileInput()"
							class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							required
						>
							<option value="" disabled selected>
								Выберите метод...
							</option>
							<option value="http://">HTTP</option>
							<option value="https://">HTTPS</option>
						</select>
					</div>
				</div>

				<!-- Загрузка файла (если выбран метод POST) -->
				<div class="file-input" id="file-input">
					<label
						for="json-file"
						class="block mb-2 mt-5 text-sm font-medium dark:text-gray-300"
						>Файл JSON:</label
					>
					<input
						type="file"
						id="json-file"
						name="json_file"
						accept=".json"
					/>
				</div>

				<!-- Кнопка отправки формы -->
				<button
					type="submit"
					class="mt-4 py-2 px-4 text-white font-bold rounded"
					style="background: rgba(255, 255, 255, 0.1)"
				>
					Отправить
				</button>

				<!-- Кнопка сброса формы -->
				<button
					type="reset"
					class="mt-4 ml-2 py-2 px-4 bg-red-500 hover:bg-red-700 text-white font-bold rounded"
					style="background: rgba(255, 255, 255, 0.2)"
				>
					Сброс
				</button>
			</div>
		</div>
	</body>
</html>
